:root{
    --main-radius: 5px;
    --main-padding:5px;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
    gap: 0.2em;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}


nav{
    background: #a7ffeb;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
main{
    background: #8b7b94;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#sidebar{
    background: #505f5b;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content1{
    background: #e9ace9;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content2{
    background: #d1bcbc;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content3{
    background: #00f3ba;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
footer{
    background: #a5a5f5;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}


@media only screen and (max-width:550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
    }
}