:root{
    --main-radius: 5px;
    --main-padding:5px;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
    gap: 0.2em;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}


nav{
    background: #a7ffeb;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
main{

    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#sidebar{
    background: #505f5b;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content1{
    background: #e9ace9;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content2{
    background: #d1bcbc;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content3{
    background: #00f3ba;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
footer{
    background: #a5a5f5;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}


.slideshow-container {
  
    position: relative;
    margin: auto;
  }

.mySlides {display: none}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
 
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 18px;
    width: 100%;
    text-align: center;
  }

@media only screen and (max-width:550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
    }
}