@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* -------------------------------- Search bar-----------------------------------  */
.btn {
    background-color: #F58936;
    width: 98px;
    font-weight: bold;
    color: #ffffff;
    padding: 7.5px 0;
    border: none;
    border-radius: 5px;
}
.btn-chevron {
    display: flex;
    gap: 5px;
}
.btn-chevron i {
    padding: 10px;
    align-self: center;
    background-color: #F58936;
    text-align: center;
    color: #ffffff;
}
.btn-categories {
    background-color: #F58936;
    width: fit-content;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.content-view {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: #A7A7A7;
    border-top: 1px solid #A7A7A7 ;
    padding-top: 10px;
}
.footer-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #ffffff;
    background: #F58936;
    width: 100%;
    padding: 10px;
    border-radius: 5px;

}
/* --------------------------------------Titles, description and prices------------------------------- */

.title {
    font-family: 'Rubik', sans-serif;
    font-size: 23px;
    color: #404040;
    border-bottom: 3px solid #F58936;
    padding-bottom: 10px;
}
.content-title {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.content-location {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #A7A7A7;
    font-weight: 500;
}
.content-price {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.sidebar-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    margin: 20px;
}
.right1-title {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bolder;
}
.right1-price {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #F58936;
}
.left2-title {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}
.left2-price {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #F58936;
}
.left2-categories {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: #A7A7A7;
    font-weight: 500;
    margin-bottom: 10px;
}
.left2-bottom-corner {
    padding-top: 15px;
}
.right-1 {
    border: 1px solid #DADADA;
    grid-area: right-1;
    background: #F5F5F5;
    /* box-shadow: 5px 5px 10px 1px #999; */
}
.right2-title {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    margin-top: 5px;
}
.right2-price {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #F58936;
    margin-top: 5px;
    margin-bottom:  20px;
}
.footer-title {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #ffffff;
    padding-bottom: 20px;
}
